@charset 'UTF-8';
.userSetting_container{
  .userSetting_body{
    margin-top:60px;
    margin-bottom:60px;
    .ant-form-item-label{
      text-align:left;
    }
    .ant-row .ant-input{
      text-align: right;
      border:0;
      background-color:#f5f5f9;
    }
    .has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after{
      right:-5px;
    }
  }
  .ant-col-xs-24.ant-form-item-label{
    padding:0;
  }
  .ant-form.edit-form .ant-row.ant-form-item{
    margin-bottom: 0.1rem;
  }
  .userSetting_footer{
    position: fixed;
    bottom:0;
    left:0;
    background: #fff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom:0.2rem;
    .am-whitespace{
      border-top:1px solid #c7c3c3;
      margin-top:1px;
      margin-bottom:0.15rem;
    }
    .userSetting_saveBtn{
      margin-right: 1rem;
    }
  }
}
